.pago{
  background: linear-gradient(180deg, #ffbacb 0, #feacc3 25%, #f29db9 50%, #e68eb0 75%, #da81a9 100%);
  
    width: 600px;
    height: 400px;
    margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 8px;
}

form{
    margin-top: 20px;
    margin-left: 40px;
    text-align: justify;
  }


